{% extends 'base.html' %}
{% load static %}

{% block title %}About Us | Shield IAS{% endblock title %}

{% block content %}
{% comment %} <img class = "center"  src = "{% static 'Shieldias.jpg' %}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'firstapp/about.css' %}">
<div class="container my-3">

  <div class="test3" ><h2>About Us</h2></div>
      {% comment %} <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="" class="d-block w-100" alt="">
            <div class="card-body"> {% endcomment %}
            <div class="cards">
            <div class="services">
            <div class="content content-2">            
            
              <div class="test2" ><h3>Our Vision</h3></div>
              <p class="card-text"><br>Shield IAS is a fast emerging institution in the field of UPSC Civil Services
                Examination and other related examinations. Our purpose is to cater to the
                needs of varied set of students residing in cities, towns and villages by helping
                them in reaching their right potential through a seamless window of easy
                learning opportunities.
                Shield IAS is actually a learning community comprising of experienced
                educators, mentors and trainers dedicated to building respectful and
                responsible citizens by empowering all learners.
                We firmly believe that “the true value of education is not the learning of many
                facts but the training of the mind to think.”</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %}
                </div>
                <small class="text-muted">About Us</small>
              </div>
           </div>
  {% comment %}</div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="" class="d-block w-100" alt="">
            <div class="card-body"> {% endcomment %}

            <div class="content content-2">
              <div class="test2" ><h3>Umbrella Approach</h3></div>
              <p class="card-text"><br>UPSC Civil Services Examination is the mother of all examinations. Hence, we
                follow umbrella approach in which we deliver UPSC preparation in the form of
                an all comprehensive development plan and mode where students capabilities
                are enhanced and nurtured in the manner that they can easily target all other
                related examination of their choice.
                Hence anybody with a desire to seek easy learning and excel can connect with
                us.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %}
                </div>
                <small class="text-muted">Umbrella Approach-</small>
              </div>
            </div>              

          {% comment %} </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="" class="d-block w-100" alt="">
            <div class="card-body"> {% endcomment %}
            <div class="content content-2">
              <div class="test2" ><h3>Ease Of Delivering Education</h3></div>
              <p class="card-text"><br>UPSC Civil Services Examination is toughest examination in the country but we
                work on the formula of ‘Education Made Simple’ and thus we emphasise on
                easy to understand delivery methods through Classroom lectures, Current
                Affairs, Study Material, Assignments, Test Series and supportive discussions.
                Learning becomes fun when it is kept simple. In this regard, if the students are
                looking for a right institution then we at Shield IAS provides this opportunity
                through right encouragement, effortless adjustment to the flow of exam
                preparation, SWOT Analysis Method to upgrade the capacity to learn, retain
                and apply to reach your right potential.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %}
                </div>
                <small class="text-muted">Ease of Delivering Education</small>
              </div>
            </div>
          </div>
        </div>

        

      </div>
    </div>

{% endblock content %}
