{% extends 'base.html' %}
{% load static %}

{% block title %}Courses | Shield IAS{% endblock title %}

{% block content %}



<div class="container my-3">
<link rel="stylesheet" href="{% static 'firstapp/courses.css' %}">
<div class="test2">GENERAL STUDIES (PRELIM CUM MAIN) FOUNDATION CLASSROOM

PROGRAM<span class="badge badge-secondary">(New Batch)</span></div>
<p class="boxed"><br><br><h3>This Program is for UPSC Civil Services Exam. Our General Studies Classroom program for Pre and
Mains prepares aspirants holistically through a mix of classes, Rapid Practice Tests, Study Material,
Daily News Headlines, Weekly Quiz, News Inshort, Monthly Current Affairs Magazine, Special edition
books and All India Prelims Test Series and Mains Test Series. Our GS Mains &amp; Prelims classroom
course is designed for fresh aspirants of the Civil Services Exam. Our aim is to lay the right
foundation and guide aspirants to understand the UPSC and IAS exam.</h3><br><br></p>

<div class="container my-3" style="background: #4f40a3;">
<div class="cards">
<div class="services">
<div class="content content-2">            

    <div  ><img src="{% static 'clipart/small.png' %}" alt="Card image cap"></div>

      <h5 ><b>Small Batch size for Personal attention</b></h5>
      <p >Only 60-70 students in a batch.</p>
    </div>  

<div class="content content-2"> 
    <div><img src="{% static 'clipart/guidance.png' %}" alt="Card image cap"></div>

      <h5 ><b>Complete Guidance</b></h5>
      <p >Updated UPSC Exam syllabus + Current Affairs + Premium Quality Class Lectures + Prelims Test Series
+ Motivational lectures + Mains Test Series + Answer Writing Class + Interview Guidance</p>
    </div>

<div class="content content-2">
    <div><img  src="{% static 'clipart/schedule.png' %}" alt="Card image cap"></div>

      <h5 ><b>Program Duration</b></h5>
      <p >12 Months Approx</p>
      <p >Monday to Friday
Class 00:00 am - 00:00 pm (English medium)</p>
    </div>

</div>
</div>
</div>


<br>
<br>
<br>
<div class="test2">SYLLABUS</div>

<br>

<div class="test2">Prelims</b><span class="badge badge-secondary">(New Batch)</span></div>
<br>
<div class="wrap-collabsible">
  <input id="collapsible1" class="toggle" type="checkbox">
  <label for="collapsible1" class="lbl-toggle">Paper I</label>
  <div class="collapsible-content">
    <div class="content-inner">
      <p>
          <h3><b>UPSC Syllabus for Paper I – (200 marks) Duration: Two hours (Counted for the merit rank in the
          Prelims)</b></h3>
      <ul>
          <li>Current events of national and international importance.
          <li>History of India and Indian National Movement.
          <li>Indian and World Geography – Physical, Social, Economic Geography of India and the
            World.
          <li>Indian Polity and Governance – Constitution, Political System, Panchayati Raj, Public Policy,
            Rights Issues, etc.
          <li>Economic and Social Development Sustainable Development, Poverty, Inclusion,
            Demographics, Social Sector initiatives, etc.
          <li>General issues on Environmental Ecology, Bio-diversity and Climate Change – that do not
            require subject specialization.
          <li>General Science.
      </ul>
    </div>
  </div>
</div>

<br>

<div class="wrap-collabsible">
  <input id="collapsible" class="toggle" type="checkbox">
  <label for="collapsible" class="lbl-toggle">Paper II</label>
  <div class="collapsible-content">
    <div class="content-inner">
      <p>    
          <h3><b>UPSC Syllabus for Paper II- (200 marks) Duration: Two hours (Not counted for the merit rank in Prelims
          but a qualifying Paper; just needs 33% marks)</b></h3>
      <ul>  
          <li>Comprehension.
          <li>Interpersonal skills including communication skills.
          <li>Logical reasoning and analytical ability.
          <li>Decision-making and problem-solving.
          <li>General mental ability.
          <li>Basic numeracy (numbers and their relations, orders of magnitude, etc.) (Class X level),
            Data interpretation (charts, graphs, tables, data sufficiency etc. – Class X level).
      </ul>
      </p>
    </div>
  </div>
</div>

<br>

<div class="test2">Mains</div>
<br>
<br>
<p>A candidate’s rank in UPSC Civil Service Exam depends only on the mark scored
  in Main and Interview. The main exam has 1750 marks while interview has
  275 marks.<br>
  The written examination (main) will consist of the following nine papers, but
  only 7 papers will be counted for final merit ranking. For the rest two papers,
  the candidate should secure minimum marks prescribed by UPSC each year.

  <br>

  Qualifying Papers – Not counted for final ranking:


  <br>
  
  
</p>

<div class="wrap-collabsible">
  <input id="collapsible3" class="toggle" type="checkbox">
  <label for="collapsible3" class="lbl-toggle">Paper A:- Indian Language (Qualifying Paper not counted for final ranking) <br></label>
  <div class="collapsible-content">
    <div class="content-inner">
      <p>

          <h3><b>Paper A - Indian Language – Syllabus . 300 Marks</b></h3>
          <p> One of the Indian Languages to
                be selected by the candidate from the Languages included in the Eighth
                Schedule to the Constitution. This paper will not be compulsory for candidates
                hailing from the States of Arunachal Pradesh, Manipur, Meghalaya, Mizoram,
                Nagaland and Sikkim.</p>
          <p>The pattern of questions in the qualifying Indian Language Paper would be
              broadly as follows:
              <ol>
              <li>Comprehension of given passages.
              <li>Precis Writing
              <li>Usage and Vocabulary.
              <li>Short Essay
              <li>Translation from English to the Indian language and vice‐versa.
              </ol>

              <br>
              Indian Languages and Scripts Allowed by UPSC for Civil Services Exam
              For the Language medium/ literature of languages, the scripts to be used by
              the candidates will be as under:—
              <br>
                  Language(Script)
              <ol>
              
              <li>Assamese        (Assamese)
              <li>Bengali         (Bengali)
              <li>Gujarati        (Gujarati)
              <li>Hindi           (Devanagari)
              <li>Kannada         (Kannada)
              <li>Kashmiri        (Persian)
              <li>Konkani         (Devanagari)
              <li>Malayalam       (Malayalam)
              <li>Manipuri        (Bengali)
              <li>Marathi         (Devanagari)
              <li>Nepali          (Devanagari)
              <li>Oriya           (Oriya)
              <li>Punjabi         (Gurumukhi)
              <li>Sanskrit        (Devanagari)
              <li>Sindhi          (Devanagari or Arabic)
              <li>Tamil           (Tamil)
              <li>Telugu          (Telugu)
              <li>Urdu            (Persian)
              <li>Bodo            (Devanagari)
              <li>Dogri           (Devanagari)
              <li>Maithilli       (Devanagari)
              <li>Santhali        (Devanagari or Olchiki)
              </ol>
              <br>
              <p>
              <br>Note: For Santhali language, question paper will beprinted in Devanagari
              script; but candidates will be free to answer either in Devanagari script or in
              Olchiki.
              <br>Note: Paper A will not be compulsory for candidates hailing from the States of
              Arunachal Pradesh, Manipur, Meghalaya, Mizoram, Nagaland and Sikkim.</p>
              </p>

    </div>
  </div>
</div>

<br>

<div class="wrap-collabsible">
  <input id="collapsible4" class="toggle" type="checkbox">
  <label for="collapsible4" class="lbl-toggle">Paper B: - English Language (Qualifying Paper not counted for final ranking)</label>
  <div class="collapsible-content">
    <div class="content-inner">
      <p>    
          <h3><b>Paper‐ B – English Language – Syllabus . 300 Marks</b></h3>
          <p>The qualifying paper on English Language in Civil Services Mains Exam will be
            of Matriculation or equivalent standard. The marks obtained in this paper will
            not be counted for ranking. The aim of the paper is to test the candidates’s
            ability to read and understand serious discursive prose, and to express his
            ideas clearly and correctly, in English Language. Minimum marks needed is
            25%. (UPSC says, the papers on Essay, General Studies and Optional Subject of
            only such candidates will be taken cognizance who attain 30% marks in Indian
            Language and 25% marks in English as minimum qualifying standards in these
            qualifying papers.)<br>
            Qualifying English Language Syllabus – Civil Services Mains Exam<br>
            The pattern of questions would be broadly as follows:‐<br>
            </p>
          
      <ol>  
          <li>Comprehension of given passages
          <li>Precis Writing
          <li>Usage and Vocabulary
          <li>Short Essay.

      </ol>

      </p>
    </div>
  </div>
</div>
<br>
<div class="wrap-collabsible">
  <input id="collapsible6" class="toggle" type="checkbox">
  <label for="collapsible6" class="lbl-toggle">General Studies Papers : - (Papers to be counted for final ranking)</label>
  <div class="collapsible-content">
    <div class="content-inner">


      
      <br><h3><b>Papers to be counted for merit ranking:</b><h3></br>
      <p><ul>
        <li><b>Paper‐I Essay</b> – Syllabus. 250 Marks

        UPSC Civil Service Mains Paper 1 (popularly known as essay paper)</li>
        <li><b>Paper‐II General Studies – I </b>– Syllabus. 250Marks

        (Indian Heritage and Culture, History and Geography of the World and Society)</li>

        <li><b>Paper‐III General Studies –II</b> – Syllabus. 250 Marks

        (Governance, Constitution, Polity, Social Justice and International relations)</li>

        <li><b>Paper‐IV General Studies –III</b> – Syllabus. 250 Marks

        (Technology, Economic Development, Bio‐diversity, Environment, Security and
        Disaster Management)</li>

        <li><b>Paper‐V General Studies –IV</b> – Syllabus. 250 Marks

        (Ethics, Integrity and Aptitude)</li>
      </ul>
      </p>
      </p>
    </div>
  </div>
</div>


<br>
<div class="test2">Interview</div>
<br>

<div class="wrap-collabsible">
  <input id="collapsible5" class="toggle" type="checkbox">
  <label for="collapsible5" class="lbl-toggle">Interview Syllabus</label>
  <div class="collapsible-content">
    <div class="content-inner">
      <p>    
          <h3><b></b></h3>
      <ol>  

          <li>The candidate will be interviewed by a Board who will have before them
          a record of his/her career. He/she will be asked questions on matters of
          general interest. The object of the interview is to assess the personal suitability
          of the candidate for a career in public service by a Board of competent and
          unbiased observers. The test is intended to judge the mental calibre of a
          candidate. In broad terms, this is really an assessment of not only his/her
          intellectual qualities but also social traits and his/her interest in current affairs.
          Some of the qualities to be judged are mental alertness, critical powers of
          assimilation, clear and logical exposition, balance of judgement, variety and
          depth of interest, ability for social cohesion and leadership, intellectual and
          moral integrity.
          <li> The technique of the interview is not that of a strict cross-examination
          but of a natural, though directed and purposive conversation which is intended
          to reveal the mental qualities of the candidate.
          <li> The interview test is not intended to be a test either of the specialised or
          general knowledge of the candidates which has been already tested through
          their written papers. Candidates are expected to have taken an intelligent
          interest not only in their special subjects of academic study but also in the
          events which are happening around them both within and outside their own
          state or country as well as in modern currents of thought and in new
          discoveries which should rouse the curiosity of well educated youth.
          <ul>
          <li>Sub Total (Written test) : 1750 Marks
          <li>Personality Test: 275 Marks
          <li>Grand Total: 2025 Marks
          <ul>
      </ol>
      </p>
    </div>
  </div>
</div>


</div>
{% endblock content %}
