{% extends 'base.html' %}
{% load static %}

{% block title %}Study Materials | Shield IAS{% endblock title %}


{% block content %}
<body style="background-color:#99a7b0;">
<link rel="stylesheet" href="{% static 'links/study.css' %}">

<div class="container my-3">
  <div class="test2">Get High Qwality Study Materials and Boost your Revision</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'images/p1.jpg' %}" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Indian Polity and Governance</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %}
                </div>
                <small class="text-muted">Get Now</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'images/p2.jpg' %}" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Economy and Social Development</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %}
                </div>
                <small class="text-muted">Get Now</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'images/p3.jpg' %}" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Geography and Environment</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %}
                </div>
                <small class="text-muted">Get Now</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'images/p4.jpg' %}" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Science and Technology</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %}
                </div>
                <small class="text-muted">Get Now</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'images/p5.jpg' %}" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">International Affairs</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %}
                </div>
                <small class="text-muted">Get Now</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'images/p9.png' %}" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Current Affairs</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %}
                </div>
                <small class="text-muted">Get Now</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'images/p8.jpeg' %}" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Monthly Quiz</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %}
                </div>
                <small class="text-muted">Get Now</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'images/p7.jpg' %}" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Questions Bank</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %}
                </div>
                <small class="text-muted">Get Now</small>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>




    </div>
</div>

{% endblock content %}


{% block booklinks %}
<div class="container my-3">
{% comment %} <h1 class="my-2 text-center" style="background-color:blue; color:white;"><br>Weekly Links<br><br></h1> {% endcomment %}
<br>
<br>
<br>
<br>
<div><h3 class="test2">Weekly News Headlines</h3></div>

  {% for entry in qu1 %}

  <ul style=" list-style:none;">
    <li>{{entry.date}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{entry.book_title }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br> <br> <a href={{entry.book_link}} target=_blank class="link_button">Download Here</a><br> <br></li>
  </ul>
  {% endfor %}

<br>
<br>
<div><h3 class="test2">Weekly Quiz</h3></div>

    {% for entry in qu2 %}

  <ul style=" list-style:none;">
    <li>{{entry.date}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{entry.book_title }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br> <br> <a href={{entry.book_link}} target=_blank class="link_button">Download Here</a><br> <br></li>
  </ul>
  {% endfor %}
<br>
<br>
<div><h3 class="test2">Rapid Practise Test</h3></div>
  {% for entry in qu3 %}

  <ul style=" list-style:none;">
    <li>{{entry.date}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{entry.book_title }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br> <br> <a href={{entry.book_link}} target=_blank class="link_button">Download Here</a><br> <br></li>
  </ul>
  {% endfor %}
<br>
<br>
<div><h3 class="test2">Current Affairs Monthly Magazine</h3></div>
    {% for entry in qu4 %}

  <ul style=" list-style:none;">
    <li>{{entry.date}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{entry.book_title }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br> <br> <a href={{entry.book_link}} target=_blank class="link_button">Download Here</a><br> <br></li>
  </ul>
  {% endfor %}
<br>
<br>
<div><h3 class="test2">Prelims Special Edition</h3>  </div>
  {% for entry in qu5 %}

  <ul style=" list-style:none;">
    <li>{{entry.date}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{entry.book_title }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br> <br>  <a href={{entry.book_link}} target=_blank class="link_button">Download Here</a><br> <br></li>
  </ul>
  {% endfor %}
<br>
<br>
<div><h3 class="test2">Prelims Question Bank</h3></div>
    {% for entry in qu6 %}

  <ul style=" list-style:none;">
    <li>{{entry.date}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{entry.book_title }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br> <br>  <a href={{entry.book_link}} target=_blank class="link_button">Download Here</a><br> <br></li>
  </ul>
  {% endfor %}
</div> 
</div>
{% endblock %}
